html, body{
    background-color: rgb(240, 236, 255);
}
body.ng-scope {
    width: 90%;
    margin: 0 auto;
}
div.wantDudes {
    width: 50%;
    float: left;
}
div.haveDudes {
    width: 50%;
    float: left;
}

img#smashball {
	position: relative;
	width: 100px;
	margin-right: 8px;
	margin-bottom: -30px;
	top: -18px;
}